@use "../global";
.header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    background-color: #ffff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;

    &__container {
        padding: 24px 0;
        display: flex;
        justify-content: space-between;

        h1 {
            color: #111517;
            font-size: 24px;
            font-weight: 800;
            line-height: 32px;
        }

        button {
            display: flex;
            align-items: center;
            border: none;
            cursor: pointer;
            padding: 8px;
            gap: 8px;
            background-color: transparent;
        }
    }
}
.country{
    margin-top: 84px;
    padding-top: 50px;
    padding-bottom: 50px;

    &__btn{
        padding: 8px;
        border-radius: 4px;
        border: none;
        color: black;
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.05);
        background-color: #fff;
    }

    &__wrapper{
        display: flex;
        align-items: center;
        gap: 40px;

        img{
            margin-top: 20px;
            width: 100%;
            max-height: 440px;
            object-fit: cover;
        }

        h1{
            color: #111517;
            font-size: 32px;
            font-weight: 800;
            line-height: 43.65px;
        }
        p{
            color: #111517;
            font-weight: 600;
            line-height: 32px;

            span{
                color: #111517;
                font-weight: 400;
                line-height: 32px;
            }
        }
    }

    @media only screen and (max-width: 876px){
        &__wrapper{
           flex-direction: column;
           align-items: start;
        }       
    }

    &__info{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__inner{
        display: flex;

        button{
            border: none;
            background-color: #fff;
            padding: 8px;
            box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.11);
            margin-left: 8px;
        }
    }
}

$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;

// scaling... any units
$width: 150px;

.loader {
  position: relative;
  top: 30%;
  margin: 0 auto;
  width: $width;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  p{
    text-align: center;
    padding-top: 20px;
    color: #0057e7;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%,
  90% {
    stroke: $yellow;
  }
}

// demo-specific
body {
  background-color: $white;
}
.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}